DATABASE_URL="postgresql://postgres.fdlfxopioxcytawxywon:tbm6OiswFeOGGy3d@aws-1-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:tbm6OiswFeOGGy3d@db.fdlfxopioxcytawxywon.supabase.co:5432/postgres"